body{

    background-color: coral;
}

p{
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
hr{

    border: 15px solid green;
    border-radius: 15px;

}
div{
background-color: brown;

}